

:root {
    font-size: calc(10px + 1vw);
    /* font vars */
    --label-font: sans-serif;
    /* color vars */
    /* BLUES */
    --brand-color-darker: #182d4b;
    --brand-color-dark: rgb(45, 80, 178);
    /* --brand-color-light: #7894e1; */
    --brand-color-light: #84a4ff;
    --brand-color-bright: #a6edff;

    --bg-light: #d7e2ff;

    /* ORANGES */
    /* --brand-color-light: #ffd100; */

    /* GREENS */
    /* --brand-color-dark: rgb(35, 83, 32); */
    /* --brand-color-light: #68c15e; */
    /* --brand-color-light: #55de46; */
    /* --brand-color-bright: #c4ffa6; */
    /* --bg-light: #ccf1c6; */

    /* CREAMS */
    /* --bg-light: rgb(254, 255, 226); */
    --med-cream: rgb(231, 218, 164);
    --light-cream: rgb(255 249 222);

    /* GREYS */
    /* --bg-light: #d9dfef; */
    --dark-grey: #333;
    --med-grey: #777;
    /* --light-med-grey: #999;
    --light-grey: #c6c6c6; */
    /* format vars */
    --max-width: 600px;
}
html,
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
div {
    /* border: 1px solid lime; */
    box-sizing: border-box;
}

/* 
=========================
App
=========================
*/
.no-select {
    user-select: none;
}

/* 
=========================
App
=========================
*/
#root {
    height: 100%;
}
#app-body {
    position: relative;
    /* background-color: var(--bg-light); */
    /* background-color: var(--light-cream); */
    background-color: var(--brand-color-darker);
    max-width: var(--max-width);
    padding: 1rem;
}
#app-body .view {
    /* position: absolute; */
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    left: 0;

    flex-direction: column;
    align-items: center;
}
#app-body .view.active {
    display: flex;
    flex-direction: column;
}

#app-body .view-title {
    color: var(--brand-color-light);
    text-align: center;
    text-transform: uppercase;
    margin: 0.5em;
}

#app-body .directions {
    color: var(--brand-color-bright);
    text-align: center;
}

.button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* border: 2px solid green; */
    background-color: limegreen;
    width: 2em;
    height: 2em;
    text-align: center;
}

/* 
=========================
Header
=========================
*/
header {
    background-color: var(--brand-color-light);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
header #logged-in-status {
    text-align: right;
}
@keyframes cycleLoggedInColor {
    0% {
        background-color: lime;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: lime;
    }
}
header #logged-in-status .light {
    height: 12px;
    width: 12px;
    border-radius: 8px;
    border: 2px solid var(--dark-grey);
    background-color: rgb(96, 0, 0);
    display: inline-block;
    text-align: right;
}
header #logged-in-status .light.on {
    animation: cycleLoggedInColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

header .top-display {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
header .top-display .info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .logo-img {
    height: 20vw;
    max-height: 60px;
    width: auto;
}

header .store-name {
    margin-bottom: 0;
    text-align: right;
}

header nav {
    text-align: center;
    padding-bottom: 0.5rem;
}

header nav button, button, .button-basic {
    padding: 0.25rem 0.5rem;
    /* margin: 0 0.25rem; */
    border: none;
    border-radius: 0.2rem;
    color: var(--bg-light);
    background-color: var(--brand-color-dark);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.5s;
}
header nav button:hover, button:hover, .button-basic:hover {
    color: rgb(225, 238, 144);
    background-color: rgb(66, 128, 66);
}

#test-buttons {
    /* position: absolute;
    z-index: 100; */
    padding: 0.25rem;
    display: flex;
    justify-content: space-evenly;
}

/* 
=========================
Shopping View
=========================
*/
#shopping-view {
    display: flex;
}
.app-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#current-item-div {
    justify-content: center;
    background-color: var(--brand-color-light);
    text-shadow: 0 0 0.3em var(--brand-color-dark);
    color: white;
}

#current-item-div {
    font-size: 2rem;
}
#check-off-current-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: var(--brand-color-light);
    font-size: 3rem;
    padding: 0;
    height: 1.2em;
    width: 1.2em;
    margin: 0.1em;
    transition: background-color 0.5s;
    /* line-height: 0; */
}
#check-off-current-item-button:hover {
    background-color: var(--brand-color-bright);
}
#items-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

#items-procured,
#items-remaining {
    font-size: 2rem;
    color: var(--brand-color-bright);
}

#shopping-view #activation-buttons button {
    background-color: var(--brand-color-light);
    color: var(--brand-color-darker);
}
#shopping-view #activation-buttons button:hover {
    background-color: var(--brand-color-dark);
    color: var(--brand-color-bright);
}
/* #current-item-div {
} */

/* 
=========================
Shopping Map
=========================
*/
#map-window {
    /* height: 100vw; */
    max-height: var(--max-width);
    /* border: 5px solid var(--brand-color-dark); */
    flex-grow: 1;
}
#map {
    position: relative;
}

#loadbar-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 5%;
    width: 100%;
    background-color: rgb(21, 34, 21);
    z-index: 300;
}
#loadbar {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: lime;
}
#canvas-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 800px;
    height: 100%;
    box-sizing: border-box;
    /* border: 2px solid purple; */
    background-color: var(--brand-color-dark);
    overflow: hidden;

    user-select: none;
}

#drawing-board {
    position: absolute;
    box-sizing: border-box;
    /* border: 3px solid red; */
    width: auto;
    height: auto;
    /* Ultimately, we might use the canvas for all mouse events, so this may change */
    /* pointer-events: none; */
    z-index: 200;
}

#canvas-holder > #map-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
}

#controls button {
    font-size: 2rem;
    background-color: var(--brand-color-dark);
    color: white;
}

/* SLIDER */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: var(--brand-color-light);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    padding: 0.1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--brand-color-dark);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
}
/* END SLIDER */

/* 
=========================================
  LIST VIEW 
=========================================
*/
#list-view {
    color: var(--med-grey);
}

#list {
    /* overflow-y: scroll; */
    padding-top: 0.4rem;
}
#list,
#search-results {
    /* min-width: 70vw; */
}

/* LIST ITEMS */
.list-item:not(active) {
    padding: 0.5rem 1rem;
    margin: 0 0 0.3rem;
}
.list-item  .item-name, #current-item-div {
    position: relative;
    font-family: var(--label-font);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2rem;
    font-style: italic;
}

/* Not Active */
.list-item:not(active) {
    background-color: transparent;
    border: 2px solid var(--med-grey);
}
.list-item:not(active) .item-name {
    color: var(--med-grey);
}

/* Active */
.list-item.active:not(crossed-off) {
    background-color: var(--light-cream);
}
.list-item.active:not(crossed-off) .item-name {
    color: var(--brand-color-dark);
}

/* Crossed Off */
.list-item.active.crossed-off {
    background-color: var(--med-cream);
}
.list-item.crossed-off.active .item-name {
    color: var(--med-grey);
}
/* strike-through */
.list-item.crossed-off.active .item-name:after {
    content: "";
    position: absolute;
    /* background-color: var(--brand-color-light); */
    background-color: var(--med-grey);
    height: 0.1em;
    width: 100%;
    left: 0;
    top: 0.6em;
    line-height: 0;
    z-index: 10;
}


.list-item > .item-controls {
    display: none;
    margin-top: 0.5rem;
}
.list-item.open > .item-controls {
    display: block;
}

.list-item > .item-controls > button {
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}

.list-item > .item-controls > button.remove-button:after {
    content: "-";
}

.list-item > .item-controls > button.disable-button:after {
    content: "!";
}
.list-item.active > .item-controls > button.disable-button:after {
    content: "X";
}

.list-item > .item-controls > button.cross-off-button:after {
    content: "√";
}

/* Add Item */
#add-item {
    display: block;
    /* border: 2px solid red ; */
    background-color: var(--brand-color-light);
    color: var(--brand-color-dark);
    border-radius: 0.7 rem;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin-bottom: 0.4rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: background-color 0.5s;
}
#add-item:hover {
    background-color: var(--brand-color-bright);
}
#search {
    border: 2px solid blue;
    padding: 1rem;
}
#activation-buttons {
    padding: 1rem 0 0;
}
#activation-buttons button {
    margin: 0.2rem;
}

/* 
=========================================
  SEARCH VIEW 
=========================================
*/
#search-view form {
    padding: 2rem;
}
#search-view form label {
    margin: 0.5rem 0;
    color: var(--brand-color-bright);
}
.search-field {
    margin: 0.5rem 0;
    padding: 0.2em 0.4em;
    font-size: 2rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    font-style:italic;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
}

/* 
=========================================
  STORE SELECTOR VIEW 
=========================================
*/
#store-select-view {
    padding: 0.2rem 0;
    /* background-color: red;
  border: 10px solid orange; */
}

#store-list {
    width: 100%;
}

/* 
=========================================
  LOG-IN VIEW 
=========================================
*/
#login-form {
    box-sizing: border-box;
    background: var(--brand-color-light);
    width: 100%;
    padding: 1rem;
}
#login-form input {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

/* 
=========================
Footer
=========================
*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0.5rem 0;
    font-size: 0.8rem;
    color: var(--bg-light);
}
